node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

frontend/node_modules/
backend/__pycache__/
backend/migrations/versions/__pycache__/

*.pyc
*.pyo
*.pyd
*.env
*.venv


dist/
build/
frontend/.next/
frontend/out/
backend/alembic.ini
backend/.env
backend/tests